################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QueenFisher.Api/QueenFisher.Api/appsettings.json
